@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");


html
{
	min-height: 100vh;
}

body
{
	background-color: black;
	color: white;
	min-height: 100vh;
	cursor: grab;
}

canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid white;
    z-index: 1;
}



.name
{
	position: absolute;
	top: 38%;
	left: 10%;
	text-align: center;
	background-color: Transparent;
	border: none;
	z-index: 2;



}







#a, #b, #cs, #d, #e, #f, #fs, #g
{
	transition: all .2s ease-in-out
}

#a:hover, #b:hover, #cs:hover, #d:hover, #e:hover, #f:hover, #fs:hover, #g:hover
{ 
	transform: scale(1.1); 
}



.name h1, .name h3
{
	color: white;
	letter-spacing: 1em;
	background-color: Transparent;
}

#nextPage
{
	color: white;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;

}

#next
{
	width: 60%;
	opacity: 0.8;
	margin: 0 auto;
}



